@import "elements/varibles";
@import "elements/login";
@import "elements/main";
@import "elements/top-artists";
@import "elements/top-tracks";
@import "elements/artist-discography";
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  overflow-x: hidden;
}