.top__artists{
  z-index: 100000;
}

html {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #111;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #111;
  }
}
.card__info{
  -webkit-box-shadow: 0px 31px 42px -34px rgba(204,79,204,0.4);
  -moz-box-shadow: 0px 31px 42px -34px rgba(204,79,204,0.4);
  box-shadow: 0px 31px 42px -34px rgba(204,79,204,0.4);
}

.card__followers{
  margin-top: -0.5em;
}

.card__follow{
  -webkit-filter: invert(100%);
  height: 1.5em;
}
.card__follow--do-follow{
  -webkit-filter: invert(50%);
  height: 1.5em;

  &:hover{
    fill: #3452cb;
  }
}

